:root {
    --main-bg-color: #242423;
    /*--primary-color: #F8F32B;*/
    --primary-color: #560056;
    --secondary-bg-color: #333533;
    --text-color: #CFDBD5;
    --text-color-light: #E8EDDF;
    --black: black;
}

/*
    old colors:
    #560056
    purple
    #1d2124
    white
    black
    #d3d3d3
    #4F0147
*/