@import "css/card.css";
@import "css/modal.css";
@import "css/variables.css";

h4 {
    color: var(--text-color-light);
}

body {
    background-color: var(--main-bg-color);
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

p {
    color: var(--text-color);
}

h5 {
    color: var(--text-color-light);
}

#search {
    background-color: transparent;
    color: var(--text-color-light);
    border-radius: 10px;
    border: 1px var(--primary-color) solid;
    padding: 10px;
}

#search:focus {
    box-shadow: none;
    outline: none;
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--black);
    opacity: 50%;
    display: none;
    cursor: pointer;
}

.overlay.show {
    display: block;
}
